@model mstartTask.Models.Account

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Server_DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Server_DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTime_UTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTime_UTC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Update_DateTime_UTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Update_DateTime_UTC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Currency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Currency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</p>
